<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="css/style.css">
        <title>アカウント新規作成</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <header></header>
        <div class="main-wrapper">
            <div class="container">
                <div class="heading">
                    <h1>アカウント新規作成画面</h1>
                </div>
                <div class="body">
                    <div class="login-form">
                        <form class="form" action="/" method="post">
                            <div class="input-area">
                                <input class="textbox input-id require" type="text" name="loginId">
                                <p class="label label-id">ID</p>
                            </div>
                            <div class="input-area">
                                <input class="textbox input-password require" type="password" name="loginPassword">
                                <p class="label label-password">Password</p>
                            </div>
                            <div class="input-area">
                                <input class="textbox input-password require" type="password" name="loginRePassword">
                                <p class="label label-password">Password Confirmination</p>
                            </div>
                            <input class="submit" type="submit" value="アカウント作成">
                        </form>
                    </div>
                    <div class="register-form">
                        <a href="/" class="link register-link">トップへ戻る</a>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>